body {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 20px solid #bdc3c7;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.post {
  margin-bottom: 30px;
}

.date {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #3498db;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #374c60;
}

.quote {
  border-left: 5px solid #bdc3c7;
  padding: 8px;
}
